@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import 'base/variables';
  

* {
    font-family: "Noto Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


body {
	background-color: $background;
}

html {
    scroll-behavior: smooth;
}

.page {
    display: none;
}

.blur {
    width: 450px;
    height: 450px;
    background-color: #404792;
    border-radius: 100%;
    position: absolute;
    filter: blur(280px);
    top: 50%;
    transform: translateY(-50%);
    right: 30%;
    pointer-events: none;
}


@import 'blocks/header';
@import 'blocks/navbar';
@import 'blocks/games';
@import 'blocks/developers';
@import 'blocks/contacts';
@import 'blocks/font';