.contacts {
    padding: 0 0 40px 0;

    &__card {
        display: flex;
        flex-direction: wrap;
        background-color: $main-color;
        border-radius: 15px;
        width: 30%;
        height: auto;
        margin: 0 auto;
        padding: 15px;
        &-image {
            img {
                width: 120px;
                border-radius: 25%;
            }
            margin-bottom: 15px;
        } 
        &-info {
            padding: 25px;
            display: flex;
            flex-direction: column;
            a {
                color: #fff;
            }
        }
    }
}

@media (max-width: 991px) {
    .contacts__card {
        width: 90%;
        &-image {
            img {
                width: 90px;
            }
        }
        &-info {
            padding: 15px;
        }
    }
}


@media (max-width: 340px) {
    .contacts__card {
        width: 95%;
        &-image {
            img {
                width: 90px;
            }
        }
        &-info {
            padding: 15px;
        }
    }
}