.contacts {
    padding: 0 0 40px 0;

    &__card {
        display: flex;
        flex-direction: column;
        background-color: $main-color;
        border-radius: 15px;
        width: 30%;
        height: auto;
        margin: 0 auto;
        padding: 15px;
        &-image {
            img {
                width: 120px;
                border-radius: 20px;
            }
            margin-bottom: 15px;
        } 
        &-text {
            background-color: $second-color;
            border-radius: 15px;
            padding: 10px;
            color: #fff;
        }
        &-info {
            margin-top: 5px;
            padding: 5px;
            background-color: $second-color;
            border-radius: 15px;
        }
        &-email {
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            a {
                color: #fff;
            }
        }
        &-social {
            margin-top: 10px;
            margin-left: 5px;
            display: flex;
            a {
                color: #fff;
            }
        }
    }
}

@media (max-width: 991px) {
    .contacts__card {
        width: 90%;
        &-image {
            img {
                width: 100px;
            }
        }
    }
}


@media (max-width: 340px) {
    .contacts__card {
        width: 95%;
    }
}