.developers {
    padding: 0 0 60px 0;
    min-height: 900px;
}

.developer__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 20px;
    .developer__card {
        width: 95%;
        height: auto;
        margin: 0 auto;
        padding: 25px;
        background-color: $main-color;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        &-avatar {
            width: 100px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
        }
        &-info {
            margin-top: 15px;
            background: rgba(255, 255, 255, 0.05);
            border-radius: 15px;
            padding: 20px;
        }
        &-name {
            margin: 0 0 10px;
            font-size: 1.2em;
            color: #fff;
        }
        &-link {
            margin-right: 10px;
            display: inline-block;
            color: #007bff;
            text-decoration: none;
            fill: #fff;
            &:hover {
            text-decoration: underline;
            }
        }
    }
}


@media (max-width: 1440px) {

    .container {
        width: auto;
    }

    .developer__grid {
        grid-template-columns: repeat(1, minmax(300px, 1fr));
    }

}