.developers {
    padding: 0 0 60px 0;
}

.developer__grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    gap: 25px;
    .developer__card {
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 15px;
        background-color: $main-color;
        border-radius: 15px;
        overflow: hidden;
        a {
            text-decoration: none;
            outline: none;
        }

        &-info {
            background-color: $owner-color;
            border-radius: 15px;
            padding: 15px;
            color: #fff;
            font-weight: 700;
            margin-top: 15px;
        }
        &-avatar {
            width: 100px;
            height: auto;
            object-fit: cover;
            border-radius: 50%;
        }
        &-wrapper {
            margin-top: 10px;
            background: $second-color;
            border-radius: 15px;
            padding: 20px;
            a {
                margin-right: 5px;
            }
        }
        &-name {
            margin: 0 0 10px;
            color: #fff;
        }
        &-link {
            margin-right: 10px;
            display: inline-block;
            text-decoration: none;
            fill: #fff;
            &:hover {
            text-decoration: underline;
            }
        }
    }
}


@media (max-width: 991px) {
    .container {
        width: auto;
    }
    
    .developer__grid {
        grid-template-columns: repeat(2, minmax(160px, 1fr));
    }
}

@media (max-width: 576px) {
    .developer__grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(160px, 1fr));
        gap: 0px;
        .developer__card {
            padding: 8px;
            margin: 5px 10px 5px 10px;
            width: 90%;
            &-avatar {
                width: 50px;
            }
            &-info {
                padding: 10px;
            }
            &-wrapper {
                margin-top: 10px;
                padding: 10px;
                a {
                    margin-right: 5px;
                }
            }
        }
        
    }
}


@media (max-width: 340px) {
    .developer__grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(100px, 1fr));
        gap: 15px;
        .developer__card {
            width: 95%;
            height: auto;
            margin: 0 auto;
            padding: 15px;
            background-color: $main-color;
            border-radius: 15px;
            overflow: hidden;
        }
        
    }
}