.font {
    &_38 {
        font-size: 38px;
    }
    &_28 {
        font-size: 28px;
    }
    &_20 {
        font-size: 20px;
    }
    &_18 {
        font-size: 18px;
        line-height: 20px;
    }
    &_16 {
        font-size: 16px;
    }
    &_14 {
        font-size: 16px;
    }
    &_descr {
        font-size: 16px;
    }
}



@media (max-width: 768px) {
    .font {
        &_38 {
            font-size: 28px;
        }
        &_28 {
            font-size: 18px;
        }
        &_20 {
            font-size: 18px;
        }
        &_18 {
            font-size: 16px;
            line-height: 18px;
        }
        &_16 {
            font-size: 16px;
        }
        &_14 {
            font-size: 14px;
        }
    }
}


@media (max-width: 576px) {
    .font {
        &_38 {
            font-size: 24px;
        }
        &_28 {
            font-size: 18px;
        }
        &_20 {
            font-size: 15px;
        }
        &_18 {
            font-size: 14px;
        }
        &_16 {
            font-size: 13.5px;
        }
        &_14 {
            font-size: 12px;
        }
        &_descr {
            font-size: 0.8rem;
        }
    }
}