.header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    z-index: 3;

	&__logo {
		img {
			width: 200px;
		}
	}
  
}


@media (max-width: 480px) {

    .header {
        &__logo {
            img {
                width: 150px;
            }
        }
    }

}