.header {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 150px;
    z-index: 3;
    background-color: $main-color;
    margin-bottom: 30px;
	&__logo {
		img {
			width: 180px;
		}
	}
  
}


@media (max-width: 480px) {

    .header {
        &__logo {
            img {
                width: 180px;
            }
        }
    }

}